.image-container {
    position: relative;
    display: inline-block;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s ease;
    white-space: nowrap;
<<<<<<< HEAD
    font-family: "Dancing Script", cursive;
=======

>>>>>>> 42c062573a420c475782c8c994f27c282e606e63
    
}

.image-container:hover .hover-text {
    left: 80%;
    opacity: 1;
    font-family: "Dancing Script", cursive;
}
